.swiper {
    width: 44vw;
    height: 40vh;
    @media screen and (max-width: $tablet) {
    width: 70vw;
        height: 60vh;

    }
}
.slide-inside{
    text-align: center;
    width: 34vw;
    margin: 0 auto;
}