body{
    font-family: $font_base;
    background-color: $color_base_light;
    text-align: center;
    color: $color_primary_b;
}
.wrapper{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 3rem;
    @media screen and (max-width: $tablet) {
        padding: 0 1.5rem;
    }
}
section{
    padding: $elastic-40;
    background-color: $color_base_light;
    overflow: hidden;
    @media screen and (max-width: $tablet) {
        padding: $elastic-10 0;
    }
}

a{
    color: $color_primary_b;
    text-decoration: none;
    &:hover{
        color: $color_primary_y;
    }
}

.df{
    display: flex;
    justify-content: center;
    &--col{
        flex-direction: column;
    }
}

.fdr{
    flex-direction: row;
}

.dib{
    display: inline-block;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.grid-gap{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2%;
}

.pos-fx{
    position: fixed;
    bottom: 6%;
    right: 0;
}

.pdg-10{
    padding: $elastic-10;
}

.pdg-30{
    @media screen and (max-width: $tablet) {
        padding: $elastic-10;
    }
    padding: $elastic-30;
}

.w-40{
    width: 40%;
}
.w-50{
    width: 50%;
}
.w-60{
    width: 60%;
}

// moved block-lr to component '_blocks'
// moved backgrounds to component '_bg'
// moved typography to component '_text'

.brd-b-side{
    border-bottom: 1px solid $color_primary_g;
    border-left: 1px solid $color_primary_g;
    border-right: 1px solid $color_primary_g;
    background-color: white;
}
.brd-side{
    border-left: 1px solid $color_primary_g;
    border-right: 1px solid $color_primary_g;
    background-color: white;
}

.brd-rad{
    border-radius: $elastic-10;
    overflow: hidden;
}

// moved btn to buttons

/* AOS - Animate on scroll library */ 

@import url('https://unpkg.com/aos@next/dist/aos.css');