$color_base_light: #fafafa;
$color_base_dark: #041625;
$color_primary_y: #f3ca3e;
$color_primary_g: #1e3446;
$color_primary_b: #061f36;
$color_primary_o: #ff2a2a;
$color_primary_r: #b80000;
$color_primary_p: #f7f0f5;

$white-alt: #f7f0f5;
$white: #fafafa;

$font_base: 'Alegreya Sans', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$font_title: 'Alegreya', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

$title1-elastic: calc(60px + .60vw);
$title2-elastic: calc(54px + .54vw);
$title3-elastic: calc(30px + .30vw);
$title4-elastic: calc(20px + .20vw);
$sub1-elastic: calc(26px + .26vw);
$font-elastic: calc(16px + .16vw);
$small-elastic: calc(12px + .12vw);

$medium-screen: 1024px;
$tablet: 768px;

$elastic-10: calc(10px + .10vw);
$elastic-20: calc(20px + .20vw);
$elastic-26: calc(26px + .26vw);
$elastic-30: calc(30px + .30vw);
$elastic-40: calc(40px + .40vw);
$elastic-60: calc(60px + .60vw);
$elastic-90: calc(90px + .90vw);

