.plongescroll {
    transition: 2.8s all ease-in-out;
}
img:not([alt="Logo"]){
    border-radius: 6px;
}

// SECTION HEADER POKEBALL
// moved to header

//SECTION ADVANTAGES
// moved to blocks

// SECTION GO AND TESTIMONIALS
// .start-testimonials{

//     // block moved to block
//     // btn moved to btn
// }

// SECTION PACKS
// moved to packs

// SECTION TECHNICAL INFOS
// moved to blocks

//SECTION DOWNLOAD
// moved to blocks

//SECTION DOWNLOAD & SECTION INFO-TECH
// moved to blocks