.plongescroll {
    transition: 2.8s all ease-in-out;
}
img:not([alt="Logo"]){
    border-radius: 6px;
}
// .start-testimonials {
//     .block-lr-right {
//         width: 100%;
//     }
// }
.testimonials {
    width: 100%;
    h3  {
        margin-top: 10vh;
        // width: 100%;
    }
}